/////////////////////////////////////////////////
// Fonts

$main-font: 'UmbraFont', sans-serif;
$heading-font: 'UmbraHeadingFont', sans-serif;




/////////////////////////////////////////////////
// Colors

$black:     #000;
$white:     #fff;
$sand:      #f9fafa;
$mine:      #2c2c2c;
$silver:    #f5f6f7;
$topo:      #ccc;
$mare:      #0d45e4;
$menta:     #a9fbd7;
$pomodoro:  #de3c3c;




/////////////////////////////////////////////////
// Misc

$aria: 16px;

