.shadows {
    background-color: $silver;
    display: flex;
    font-size: 16px;
    position: relative;
    z-index: 9;

    > .btn {
        margin: $aria / 2;
    }

    &__list {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        margin: $aria / 2 0;
    }

    &__code {
        background: $mine;
        flex: 1 1 100%;
        padding: $aria;
        color: $silver;
    }
}

.shadow {
    $size: 40px;
    background-color: $white;
    border-radius: $size;
    box-shadow: 0 0 2px 1px darken($silver, 4);
    display: inline-block;
    font-weight: 700;
    height: $size;
    line-height: $size + 1px;
    margin-bottom: $aria / 4;
    margin-right: $aria / 2;
    margin-top: $aria / 4;
    overflow: hidden;
    text-align: center;
    width: $size;

    &:hover {
        box-shadow: 0 0 4px 1px darken($silver, 10);
    }

    [type=radio] {
        position: absolute;

        + label {
            background: transparent;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            padding: 0;
            position: relative;
            transition: all .2s ease-out;
            vertical-align: text-bottom;
            width: 100%;
        }

        &:checked + label {
            background-color: $mare;
            color: $white;
        }
    }
}

