.workspace {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
}

.canvas {
    background-color: rgba($white, .9);
    flex: 1 1 auto;
    position: relative;
}

.item {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
