:root
{
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.6rem;
  --s4: 2rem;
  --s5: 4rem;

  --border-size: 2px;

  --font-sans: droid sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

@media (prefers-color-scheme: dark)
{
  :root
  {
    --bg: #000;
    --bg-d: #222;
    --bg-dd: #222;
    --fg: #fff;
    --accent: yellow;
    --accent-d: yellow;
  }
}

@media (prefers-color-scheme: light)
{
  :root
  {
    --bg: #fff;
    --bg-d: #ddd;
    --bg-dd: #bbb;
    --fg: #000;
    --accent: blue;
    --accent-d: #0000aa;
  }
}

:root
{
    --bg-primary: linear-gradient(to top, var(--accent-d), var(--accent));
    --bg-secondary: linear-gradient(to top, var(--bg-dd), var(--bg-d));
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html { height: 100%; }
body
{
    background-color: var(--bg);
    height: 100%;
    color: var(--fg);
    line-height: 1;
    font-family: var(--font-sans);
    font-size: 1rem;
}
label,
select,
button,
input
{
    cursor: pointer;
}

/* ====================
 * App root
 * ==================== */

.App
{
    height: 100%;
    overflow: hidden;
    display: grid;
    gap: var(--s1);
    padding: var(--s1);
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--bg-d);
}

/* ====================
 * Sections
 * ==================== */

.Section
{
    border-radius: 4px;
    background-color: var(--bg);
    box-shadow: 0 1px 2px 0 var(--fg);
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Section-header
{
    padding: var(--s2);
}

.Section-header > h2
{
    font-weight: bold;
}

.Section-header > p
{
    opacity: 0.8;
    margin-top: var(--s1);
    font-size: 0.8rem;
}

.Section-content
{
    overflow-y: scroll;
    flex: 1;
}

.Section-footer
{
    padding: var(--s2);
}

/* ====================
 * Forms
 * ==================== */

.FormField
{
    padding: var(--s1) var(--s2);
}

.FormField-title,
.FormField-label
{
    font-size: 0.8rem;
    font-weight: bold;
}

.FormField-element
{
    margin-top: var(--s1);
    width: 100%;
}

.FormField.is-size .FormField-element
{
    display: flex;
    gap: var(--s2);
}

.FormField.is-shape .FormField-element
{
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    width: fit-content;
}

.FormField.is-shape [type=radio]
{
    display: none;
}

.FormField.is-shape [type=radio]:checked + label
{
    background: var(--bg-primary);
    color: var(--bg);
}

.FormField.is-shape label
{
    display: flex;
    align-items: center;
    gap: var(--s1);
    background: var(--bg-secondary);
    padding: var(--s1);
}

.FormField.is-color [type=color]
{
    display: none;
}

.FormField.is-color label
{
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    border-radius: 3px;
}

/* ====================
 * Tools
 * ==================== */

.Tools
{
}

/* ====================
 * Output
 * ==================== */

.Output
{
    grid-row: span 2;
}

.Output > .Section-content
{
    flex: 1;
    position: relative;
}

.Output-canvas
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Output-rootdiv
{
    background-color: black;
    width: 50px;
    height: 50px;
}

.Output-rootdiv.is-round
{
    border-radius: 100%;
}

/* ====================
 * Shadows
 * ==================== */

.ShadowItem
{
    margin: var(--s1);
}

.ShadowItem > input
{
    display: none;
    visibility: hidden;
}

.ShadowItem > input:checked + label
{
    background-color: var(--bg);
}

.ShadowItem > label
{
    border-radius: 3px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--s1);
}

.ShadowItem > label:hover
{
    background-color: var(--bg);
}

.ShadowSettings
{
    position: absolute;
    z-index: 9;
    left: var(--s2);
    min-width: 300px;
    bottom: var(--s2);
}

.ShadowSettings-header,
.Modal-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--s2);
}

.ShadowSettings-close,
.Modal-close
{
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    padding: var(--s2);
}

/* ====================
 * Modal
 * ==================== */

.Modal
{
    position: fixed;
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ====================
 * Buttons
 * ==================== */

.Buttons
{
    display: flex;
}

.Buttons > .Button
{
    border-radius: 0;
}

.Buttons > .Button:first-child
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.Buttons > .Button:last-child
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.Button
{
    font-size: 0.8rem;
    padding: var(--s1) var(--s2);
    border-radius: 3px;
    line-height: 1;
}

.Button.is-primary
{
    background: linear-gradient(to top, var(--accent-d), var(--accent));
    color: var(--bg);
}

.Button.is-secondary
{
    background: linear-gradient(to top, var(--bg-dd), var(--bg-d));
    color: var(--fg);
}
